body{
	margin: 0;
	border: none;
	overflow-x: hidden; /*tira barra de rolagem lat*/
	background-image:url("imagens/fundobranco.jpg");
	color:white; /* cor da fonte*/
	font-size:120%;
}

	
.cabecalho{
	background-image:url("imagens/fundopreto.jpg");
   	width:100%;
	height:90%;
	border-style:hidden;
	float:top;
	position:relative;
}

 
.cabecalho img{
	
	height:100%;
	width:17%;
	margin-top:0.1%;
	margin-left:40%;
	margin-bottom:0;
		
}


.menu{
	background-image:url("imagens/fundopreto.jpg");
	float:left;
	width:100%;
	margin-top:2.5%;
}


 ul{
	list-style-type: none;
	overflow: hidden; 
	margin-left:15.5%;
	margin-top:0;
	margin-bottom:0;
	border-style:none;
} 

.menu li a {
    display: block;
    color: white;
    text-align:center;
	height:2%;    
    padding: 1.5% 2.3%;
	overflow: hidden; 
	text-decoration: none;
	float:left;
}	


li a:hover:not(.ativo){
	color:#83332f;
	background-color:black;
	transition: .5s;

}

.ativo{
	background-image:url("imagens/fundovermelho.jpg");
	margin-bottom:0;

}


.corpo1{
	float:left;
	width:90%;
	height:100%;
	margin-left: 3%;
	margin-right: 3%;

	background-color:#333333;
	padding-left:4%;
} 


.conteudoc1{
	float:left;
	width:40%;
	height:30%;
	margin:2%;
}

.conteudoc1 img{
	width:100%;
	height:100%;
}

#logosobre{
	width:100%;
}

.conteudoc2{
	float:left;
	width:42%;
	height:100%;
	padding-top:10%;
	padding-bottom:10%;
	margin:2%;
}

.nomePrato h3{
font-family:sans-serif;
color:black;
width:100%;	
background-color:white;
}


.conteudohistoria{
	background-color:#333333;
	float:left;
	padding:0.5% 1.5%;
	margin-left:1.5%;
	margin-right:1.5%;
	margin-top:2.5%;
	margin-bottom:2.5%;
	width:94%;
	height:7%;
	color:white;
	font-size: 90%;
	font-family: Verdana, Geneva, sans-serif;

}

.historiapais{
	background-color:#333333;
	margin-left:2.5%;
	margin-right:1.5%;
	margin-bottom:2.5%;
	float:left;
	width:46.7%;
	height:40%;
}

.historiapais img{
	width:100%;
	height:100%;
}

.historiapais2{
	background-color:#333333;
	margin-left:0;
	margin-right:2.5%;
	margin-bottom:2.5%;
	float:left;
	width:46.7%;
	height:40%;
}

.historiapais2 img{
	width:100%;
	height:100%;
}

.historiapais3{
	background-color:#333333;
	margin-left:2.5%;
	margin-bottom:2.5%;
	float:left;
	width:46.7%;
	height:40%;
}

.historiapais3 img{
	width:100%;
	height:100%;
}

.historiapais4{
	background-color:#333333;
	margin-left:1.5%;
	margin-right:2.5%;
	margin-bottom:2.5%;
	float:left;
	width:46.7%;
	height:40%;
}

.historiapais4 img{
	width:100%;
	height:100%;
}

.historiapais5{
	background-color:#333333;
	margin-left:2.5%;
	margin-right:1.5%;
	margin-bottom:2.5%;
	float:left;
	width:46.7%;
	height:40%;
}

.historiapais5 img{
	width:100%;
	height:100%;
}

.historiapais6{
	background-color:#333333;
	margin-left:0;
	margin-right:2.5%;
	margin-bottom:2.5%;
	float:left;
	width:46.7%;
	height:40%;
}

.historiapais6 img{
	width:100%;
	height:100%;
}

.historiapais7{
	background-color:#333333;
	margin-left:2.5%;
	margin-bottom:2.5%;
	float:left;
	width:46.7%;
	height:40%;
}

.historiapais7 img{
	width:100%;
	height:100%;
}

.historiapais8{
	background-color:#333333;
	margin-left:1.5%;
	margin-right:2.5%;
	margin-bottom:2.5%;
	float:left;
	width:46.7%;
	height:40%;
}

.historiapais8 img{
	width:100%;
	height:100%;
}


img:hover { 
	opacity: 0.8; 
	filter: alpha(opacity=80);
}
/* SItes COM RECEITAS*/


.imagemReceita{
width:100%;
height:250px;
/*background-repeat:no-repeat;*/
}



.tituloReceita{
color: white;
  margin: 0;

  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  padding-left: 1.5em;
  padding-top: 4.5em;
  font-family: Average Sans, sans-serif;
  letter-spacing: .5px;
  padding-bottom: 2.5em;
  margin-bottom: 1.5em;
 
  
}

.ingredientes{
margin: 0;
padding: 0;
list-style: none;

float: left;
display: inline;
width: 380px;

}

.ingredientes li {
  line-height: 2;
  padding-left: 1em;
  margin: 0;
}

.ingredientes li:nth-child(odd) {
  background-color: gray;
}

.modo_preparo{
overflow: hidden;
max-width:60%;
float:left;
margin-left:2em;
}

.modo_preparo li{
margin-left: -1em;
padding:0;
margin:0 0 1em 0;
margin-left: -1em;
}


.IngredientesDIV{
float:left;
width:35%;
overflow: hidden;

}

.botao{
background-color:black;
float:right;
margin:2%;
padding:1%;
color:white;
width:6%;
height:5%;
text-align:center;

}

.botao a:link, a:visited {
	text-decoration: none;
	color:white;
	}

/*Comidas Por Pais*/

.comidaPorPais{

float:left;
width:48%;
height:300px;
margin: 10px;
background-size:100% 100%;
background-repeat:no-repeat;
}

.meses{
width:90%;
height:70%;
margin-right:0 px;
float:right;
color:white;
margin-top:8%;
border: 0px;
border-color:black;
border-style:solid none solid solid;

}

/* rodapé */

.rodape{
height:10%;
background-image:url("imagens/fundopreto.jpg");
width:100%;
float:left;

}


.rodapeItem1{
	background-image:url("imagens/fundopreto.jpg");
	color:white;
	float:left;
	height:8%;
	width:15%;
	padding:1.5%;
	height:100%;
	
}

.rodapeItem1 img{

	width:80%;
	height:92%;
}

.rodapeItem2{
	background-image:url("imagens/fundopreto.jpg");
	float:left;
	color:white;
	height:11%;
	width:25%;
	padding:1.5%;
}

.rodapeItem2 img{

	width:10%;
	height:30%;
}


.rodapeItem3{
	background-image:url("imagens/fundopreto.jpg");
	float:left;
	color:white;
	height:11%;
	width:25%;
	padding:1.5%;
	
}

.rodapeItem3 img{

	width:11%;
	height:33%;
}



.rodapeItem4{
	background-image:url("imagens/fundopreto.jpg");
	color:white;
	height:11%;
	width:23%;
	padding:1.5%;
	float:left;
}

.rodapeItem4 {
	font-size: 90%;
	font-family: arial, helvetica, sans-serif;
	text-align:right;
}

